

input {
  display: block;
  margin: 0 auto;
  outline: none;
  width: 100%;
  font-size: 0.75em;
  font-weight: 300;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.form-style input {
  padding: 10px 0;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.5s;
  align-content: center;
}
.form-style input:focus,
.form-style input.focus {
  border-bottom: solid 2px #52bab3;
}


/**************************
FORM CONTAINER STYLING
******************************/

.form-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
  margin-bottom: 25px;

}

/**************************
FORM SIGN UP BUTTONS
******************************/

.cofarer-form-btn {
  background-color: #FE6F5E;
  width: 100%;
  outline: none;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 3px;
  transition: .8s;
  padding: 10px;
}

.cofarer-form-btn a {
  color: #fff;
  font-weight: 300;
}

.cofarer-form-btn:hover {
  background-color: #0AB88D;
}

/**************************
SIGN-IN-BTN
******************************/
.sign-in {
  background-color: #20B1C8;
}

.sign-in:hover {
  background-color: #0AB88D;
}

/*STYLING FOR FORGOT PASSWORD AND SIGN UP */
.sing-in-list li {
  padding-top: 20px;
}

.sing-in-list a {
  color: #20B1C8;
}

/**************************
FLEX STYLING
******************************/


.flex-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/**************************
MEDIA QUERIES
******************************/

@media (min-width: 769px) {

  .form-container {
    width: 45%;
  }


}


@media (min-width: 1024px) {

  input {
    font-size: 1em;
  }

  .form-container {
    width: 50%;
    max-width: 430px;
  }

  .flex-form {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }


}
